<section id="projects" class="portfolio py-20 bg-white">
  <div class="container mx-auto px-4">
    <h2
      class="title text-4xl font-bold mb-12 text-center text-gray-800 drop-shadow-md shadow-custom"
    >
      Portfolio
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        class="portfolio-item bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105"
      >
        <div class="h-48 bg-gray-700">
          <img
            src="/assets/WebDesign.avif"
            alt="Web Design"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">WEB DESIGN</h3>
          <p class="text-gray-300">
            Creating stunning and responsive websites.
          </p>
        </div>
      </div>
      <div
        class="portfolio-item bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105"
      >
        <div class="h-48 bg-gray-700">
          <img
            src="/assets/mobile-design.avif"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">MOBILE DESIGN</h3>
          <p class="text-gray-300">
            Designing intuitive mobile user interfaces.
          </p>
        </div>
      </div>
      <div
        class="portfolio-item bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105"
      >
        <div class="h-48 bg-gray-700">
          <img
            src="/assets/logo-design.avif"
            alt="Logo Design"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">LOGO DESIGN</h3>
          <p class="text-gray-300">Crafting memorable brand identities.</p>
        </div>
      </div>
      <div
        class="portfolio-item bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105"
      >
        <div class="h-48 bg-gray-700">
          <img
            src="/assets/webapp.avif"
            alt="Web Application Development"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">
            WEB APPLICATION DEVELOPMENT
          </h3>
          <p class="text-gray-300">Building robust web applications.</p>
        </div>
      </div>
      <div
        class="portfolio-item bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105"
      >
        <div class="h-48 bg-gray-700">
          <img
            src="/assets/mobile-developement.png"
            alt="Mobile Application Development"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">
            MOBILE APPLICATION DEVELOPMENT
          </h3>
          <p class="text-gray-300">Developing powerful mobile apps.</p>
        </div>
      </div>
      <div
        class="portfolio-item bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden transform transition duration-300 hover:scale-105"
      >
        <div class="h-48 bg-gray-700">
          <img
            src="/assets/pwa.avif"
            alt="PWA Development"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">PWA DEVELOPMENT</h3>
          <p class="text-gray-300">Creating progressive web applications.</p>
        </div>
      </div>
    </div>
  </div>
</section>
